src/embedding-demo/.fastembed_cache/models--Xenova--all-MiniLM-L12-v2/blobs/37fca74771bc76a8e01178ce3a6055a0995f8093.lock
src/embedding-demo/.fastembed_cache/models--Xenova--all-MiniLM-L12-v2/blobs/a8b3208c2884c4efb86e49300fdd3dc877220cdf.lock
src/embedding-demo/.fastembed_cache/models--Xenova--all-MiniLM-L12-v2/blobs/ac10e6b99832408b7a505c07226d48b1c7d4d7fbd12bf3421095ad0ce31fff51.lock
src/embedding-demo/.fastembed_cache/models--Xenova--all-MiniLM-L12-v2/blobs/c17ed520ed8438736732a54957a69306b8822215.lock
src/embedding-demo/.fastembed_cache/models--Xenova--all-MiniLM-L12-v2/blobs/d0fcb9b31b0e770baadd3710ca18aed70be2f13d.lock
src/embedding-demo/.fastembed_cache/models--Xenova--all-MiniLM-L12-v2/refs/main
src/embedding-demo/.fastembed_cache/models--Xenova--all-MiniLM-L12-v2/snapshots/beeb2e4b69e95f188a15cc2e90d09fd035dac229/config.json
src/embedding-demo/.fastembed_cache/models--Xenova--all-MiniLM-L12-v2/snapshots/beeb2e4b69e95f188a15cc2e90d09fd035dac229/special_tokens_map.json
src/embedding-demo/.fastembed_cache/models--Xenova--all-MiniLM-L12-v2/snapshots/beeb2e4b69e95f188a15cc2e90d09fd035dac229/tokenizer_config.json
src/embedding-demo/.fastembed_cache/models--Xenova--all-MiniLM-L12-v2/snapshots/beeb2e4b69e95f188a15cc2e90d09fd035dac229/tokenizer.json
src/embedding-demo/.fastembed_cache/models--Xenova--all-MiniLM-L12-v2/snapshots/beeb2e4b69e95f188a15cc2e90d09fd035dac229/onnx/model.onnx
